/*Author:  Lord Crawford */

body{
	background-color: #543bc4;
}

h1{
	margin-top:  20px;
}


#help_button{
	position: absolute;
	right:  22%;
	top:  4%;
}

#help_popup{
	background-color: grey;
	border-style: solid;
	border-width:  10px;
	border-color: black;
	width:  55%;
	display: none;
	position: absolute;
	top: 13%;
	left: 22%;
}

#help_text{
	padding:  30px;
}

#help_exit{
	position: absolute;
	top: 0%;
	right: 0%;
	width:  40px;
	height:  40px;
}

span {
	color:  white;
}

.sound_row, .sound_steps, .step {
	display: inline-block;
}

.step {
	height: 40px;
	width: 40px;
	background:  black;
}

.step_main{
	background-color: black;
}

.step_alt {
	background-color: grey;
}

.step_clicked{
	background-color: yellow;
}

/*not working once I toggle step*/
.step_hover:hover {
	background-color:  green;
}

.step_played{
	background-color: red;
}

input {
	width:  17%;
	font-size: 11pt;
}

audio {
	display: none;
}


#play{
	background-color:  #4C76E3;
	width:  100px;
	height:  50px;
}

#pause{
	background-color:  #EE6363;
	width:  100px;
	height:  50px;
	margin-left:  10px;
}

#stop{
	background-color:  #EE6363;
	width:  100px;
	height:  50px;
	margin-left:  10px;
}

#reset{
	margin-left:  43%;

}


